body {
	font-family: "Inter", sans-serif;
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}
a {
	text-decoration: none;
}
.container {
	background-color: #f5c147;
	padding: 2rem;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	width: 300px;
	text-align: center;
}

.form-container h1 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

.form-container h2 {
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
}

.input-group {
	margin-bottom: 1rem;
	position: relative;
}

.input-group input {
	width: 90%;
	padding: 0.75rem;
	border: 2px solid #ccc;
	border-radius: 5px;
}

.input-group .toggle-password {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

.extra-link {
	margin-top: 1rem;
	margin-bottom: 1.5rem;
}

.extra-link a {
	text-decoration: none;
}

.btn {
	background-color: #000;
	color: #fff;
	border: none;
	padding: 0.75rem;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
}

.btn:hover {
	background-color: #333;
}

input {
	outline: none;
}
input:focus {
	border: 2px solid black;
}

.extra-link a {
	cursor: pointer;
	color: blue;
}

.img-circle {
	width: 300px;
	height: 90px;
	background-color: #000;
	border-radius: 50px;
}

.logo {
	margin-bottom: 32px;
}
