.hero-section {
	background: #f1b538;
	padding-top: 167px;
}

.hero {
	padding-bottom: 120px;
}

.hero__title {
	font-size: 93px;
	font-weight: 500;
}

.hero__text {
	font-size: 23px;
	font-weight: 300;
	width: 450px;
	font-family: sans-serif;
}
